body {
    background-color: lightblue;
    font-family: 'Karla', sans-serif;
}

a {
    text-decoration: none;
    color: gray;
    background-color: burlywood;
    padding: 5px;
    border-radius: 5px;
}

a:hover {
    color: lightblue;
}

h1{
    text-align: center;
    font-size: 300%;
    margin: 60px;
}

h3{
    display: inline-block;
    margin: 0;
    padding: 20px;
    background-color:lightblue;
    border-radius: 0 0 8px 0;
    position: absolute;
    top: 0;
    left: 0;
}


td, th {
    padding: 20px;
}
tr:nth-child(even) { background: #ddd }
tr:nth-child(odd) { background: #fff}

nav ul li{
    display: inline-block;
    padding: 20px;  
}

ul {
    text-align: center;
}

.clients-contenidor, .bicis-contenidor, .rutes-contenidor {
    position: relative;
    margin: 100px auto;
    width: 80%;
    background-color: burlywood;
    border-radius: 5px;
    padding: 30px;
}

table {
    position: relative;
    margin: 20px auto;
}

.rutes-contenidor .ruta-icon {
    display: inline-block;
}

.ruta-icon-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

.ruta-contenidor-indv div a {
    background-color: lightblue;
    padding: 5px;
    border-radius: 5px;
}

.ruta-contenidor-indv h4 {
    font-size: 150%;
}

.rutes-subcontenidor {
    margin: auto;
    position: relative;
    text-align: center;
    width: 80%;
}

.ruta-contenidor-indv {
    padding: 40px;
}

